/.ipynb_checkpoints
/dbanalysis/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/dbnalysis/network/networkpickle.bin
/dbanalysis/network/simple_network_concated
/dbanalysis/network/simple_network_with_tables.bin
/dbanalysis/network/timetables_dump.bin
/dbanalysis/network/simple_network_dump.bin
/dbanalysis/tests/networkpickle.bin
